/* トップに来るイメージ */
.topimages {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  background-size: 100% 100%;
  text-align: center; /* 追加 */
}

.topimages img {
  width: 100%;
}

.topimage-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  text-align: center;
  font-family: Georgia, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1em 2em -1em rgba(0, 0, 0, 0.5);
  padding: 1em 2em;
  line-height: 2.0;
  font-size: 2em;
  color: black;
}

/* 基本情報 */
.infomation {
  text-align: center; /* 中央揃え */
  margin-bottom: 20px;
}

.infomation h4 {
  color: #0f0e0e;
  font-family: 'Kosogi';
  font-size: 30px;
  text-align: center; /* 中央揃え */
}

.infomation h5 {
  color: #0d0c0c;
  font-family: 'Kosugi';
  font-size: 30px;
  text-align: center; /* 中央揃え */
}

/* その他スタイル省略 */
